<div class="card">
    <div class="card-header">
        <h2>{{title}}</h2>
        <p>Created by {{user.username}} on {{format_date date_created}}</p>
    </div>

    <p class="card-body">{{content}}</p>
    <p>
        <button class="btn btn-primary">Save</button>
    </p>

</div>