

<div class="card">
    <h2 class="card-header"></h2>
    <div class="card-body">
        <p>{{comment_content}}</p>
        <p>- {{user.username}}, {{format_date date_created}}</p>
    </div>
</div>