
<div >
        {{#each blogs as |blog|}}
            {{> blogs }}
        {{/each}}

    <div id="btn-center">
        <a class="light-text" href="/new-post">
            <button id="new-post-btn" class="btn btn-primary">+ New Post</button>
        </a>
    </div>
</div>

