<div >
    {{#if blogs.length}}
        {{#each blogs as |blog|}}

        {{/each}}

    {{else}}

    {{/if}}
    <div>
        <button class="btn btn-primary"><a href="/new-post">+ New Post</a></button>
    </div>
</div>

