<div >
    {{#if blogs.length}}
        {{#each blogs as |blog|}}

        {{/each}}

    {{else}}
    {{/if}}
    <div>
        <button class="btn btn-primary" type="submit"><a href="/dashboard/createBlog">+ New Post</a></button>
    </div>
</div>

<script src="js/dashboard.js"></script>