<div class="card">
        <h2 class="card-header">Login</h2>

        <form class="form login-form card-body">
            <div class="form-group">
                <label  class="form-label" for="username-login">Username:</label>
                <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">login</button>
            </div>
        </form>
        <p>
            <a id="signup-link" href="/signup">Sign Up Instead</a>
        </p>

</div>

<script src="js/login.js"></script>
